@import "../../../css-config/mixins.scss";
.mini-navbar {
  // background-color: rgba(0, 0, 0, 0.05);
  background-color: #bebebe;
  color: black;
  padding: 10px 14px;
  width: 100%;
  .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
      flex-direction: row;
      .sort {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        select {
          border: none;
          outline: none;
          padding: 3px 5px;
        }
      }
    }
  }
}
.foundProduct {
  width: 100%;
  margin: -15px 0;
}
