@import "../../../css-config/mixins.scss";
.mini-navbar {
  //   background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  padding: 10px 14px;
  width: 100%;
  .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      display: flex;
      gap: 12px;
      .left-ul {
        list-style-type: none;
        gap: 12px;
        @include md {
          display: flex;
        }
        li {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .product-filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      flex-direction: row;
    }
  }
}
