@import "../../../css-config/mixins.scss";

.navbar {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: fit-content;
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #8e2de2;
    padding: 20px 10px;
    color: white;
    .user-logo {
      size: 50px;
    }
  }
  nav {
    width: fit-content;
    ul {
      list-style: none;

      li {
        border-bottom: 2px solid black;
        padding: 10px;
        position: relative;
        a {
          text-decoration: none;
          font-size: 20px;
          &:active {
            cursor: pointer;
          }
          &:active::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: orangered;
          }
        }
      }
    }
  }
}
