@import "../../../css-config/mixins.scss";

.product {
  width: 100%;
  h1 {
    padding-bottom: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    input {
      width: 100%;
      padding: 5px 8px;
      outline: none;
      font-size: 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:active {
        border: 1px solid #8e2de2;
      }
    }
    select {
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
      padding: 5px 8px;
      cursor: pointer;
      &:active {
        border: 1px solid #8e2de2;
      }
    }
    button {
      width: 100%;
      padding: 10px 20px;
      background-image: linear-gradient(to left, #8e2de2, #4a00e0);

      color: white;
      border: none;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background-image: none;
        background-color: #8e2de2;
        transition: ease-in-out;
      }
    }

    .group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid #8e2de2;
      padding: 10px;
      .progress {
        display: flex;
        flex-direction: column;
        background-color: #cfcccc;
        .progress-bar {
          display: flex;
          flex-direction: column;
          background-color: #8e2de2;
          padding: 5px 10px;
          color: white;
        }
      }
    }
  }
}
