@import "../../../css-config/mixins.scss";
.order-status {
  .order-status-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .order-status-option {
      select {
        border: 1px solid #8e2de2;
        outline: none;
        padding: 3px 5px;
      }
    }
    .order-status-btn {
      button {
        background-image: linear-gradient(to left, #8e2de2, #4a00e0);
        border-bottom: 3px solid #6516aa;
        color: white;
        border: none;
        padding: 10px 12px;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          background-image: none;
          background-color: #8e2de2;
          transition: ease-in-out;
        }
      }
    }
  }
}
