@import "../.././css-config/mixins.scss";
.search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: white;
  padding: 5px 7px;
  width: 400px;
  border: 1px solid #4a00e0;
  align-items: flex-start;
  .icon {
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
  }
}
